 .board_container {
   background-color: rgba(200,200,200, 0.5);
   width: 65vw;
   height: 60vh;
   border-radius: 5px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   display:flex;
   justify-content: space-evenly;
   align-items: center;
 }
.board_container > div {
	width: 30vw;
	height: 50vh;
	padding: 1vh 2vw;
    border-radius: 30px;
    background-color: #fff;
}
.notice-container>p{
    color:gray;
    font-style:italic;
}
summary{
	margin-top:30px;
}
details{
    font-size: 1.1rem;
    > ul{
    margin-left:10px;
    }
}
.card-container{
	margin-top:30px;
    display:flex;
    justify-content:space-evenly;
    align-items:center;
}
.team-member{
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
    width:9vw;
    border: 1px dotted lightgray;
}

.team-member-image >img{
    width: 120px;
    border-radius: 50%;
}

.team-member-info{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    > h3{
    margin: 10px 0px 5px 0px;
    }
    > p{
    font-weight: 700;
    margin: 5px 0px 10px 0px;
    }
}

.team-container > p, .notice-container > p{
	margin-top:40px;
    font-size:1.1rem;
}
