#home_img1{
	position:relative;
	top:230px;
	width:400px;
	height:auto;
}
#home_img2{
	position:relative;
	top:100px;
	width:900px;
	height:600px;
}
#home_text{
	position:relative;
	bottom:420px;
	left:470px;
	>p{
	font-size:30px;
	margin:30px;
	}
}