@import "reset.css";
@import "variable.css";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500&display=swap");
/**/
@import "home.css";
/**/
@import "guide.css";
@import "check.css";
@import "board.css";

* {
	box-sizing: border-box;
}
body {
	background-color: white;
	font-family: "Noto Sans KR", sans-serif;
	font-weight: 300;
}

/* #index_shadow {
	position: fixed;
	background-color: rgba(0, 256, 0, 0.5);
	width: 100%;
	height: 100%;
	z-index: -10000;
}*/

#index_container {
	display: grid;
	grid-template-rows: 250px 1fr 100px;
	grid-template-areas:	"header"
	  						"main"
	  						"footer";
	min-height: 100vh;
}

header{
	grid-area: header;
	background-color: white;
	display: grid;
	position: sticky;
	top: -30px;
	z-index: 10000;
}
#index_homeLogo {
	display: flex;
  	justify-content: center;
}
#index_homeLogo div img {
	width: auto;
	height: 200px;
}
#index_navigationbar {
	display: flex;
  	justify-content: center;
  	align-items: center;
  	height:50px;
}
#index_navigationbar > div{
	width: 200px;
	text-align: center;
	font-size: 20px;
}




main {
	grid-area: main;
	background-color: white;
}



footer {
	grid-area: footer;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--donggukLightOrange);
	color: #fff;
}

footer a {
	font-size:15px;
	color: white;
	margin: 20px;
}