@import "reset.css";
@import "variable.css";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500&display=swap");
/**/
@import "home.css";
/**/
@import "guide.css";
@import "check.css";
@import "board.css";

* {
	box-sizing: border-box;
}
body {
	display:flex;
	justify-content: center;
	background-color: white;
	font-family: "Noto Sans KR", sans-serif;
	font-weight: 300;
}

/* #index_shadow {
	position: fixed;
	background-color: rgb(242, 147, 0, 0.5);
	width: 100%;
	height: 100%;
	z-index: -10000;
}*/

#wrap {
	display: grid;
	grid-template-rows: 250px 1fr 100px;
	grid-template-areas:	"header"
	  						"main"
	  						"footer";
	place-items: center;
	min-height: 100vh;
	width:80vw;
}

header{
	grid-area: header;
	background-color: rgb(255, 255, 255);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	top: -30px;
	z-index: 10000;
	width:100%
}
/* #index_homeLogo {
	display: flex;
  	justify-content: center;
} */
header > a > img {
	width: auto;
	height: 200px;
	margin: 10px;
}
#index_navigationbar {
	background-color: var(--donggukLightOrange);
	display: flex;
  	justify-content: center;
  	align-items: center;
  	height:50px;
	width:100%;
}
#index_navigationbar > div{
	width: 200px;
	margin:80px;
	text-align: center;
	font-size: 25px;
}

a {
	text-decoration: none;
	color:#fff;
}
a:hover{
	color:yellow;
}

main {
	grid-area: main;
	background-color: white;
}

footer {
	grid-area: footer;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--donggukLightOrange);
	color: #fff;
	width:100%;
}

footer a {
	font-size:15px;
	color: white;
	margin: 20px;
}